@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             Title="Food Journal"
             DataProvider="@SidebarDataProvider"/>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar"/>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new() { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match = NavLinkMatch.All },
            new() { Id = "2", Href = "/foods", IconName = IconName.Backpack, Text = "Food" }
        };

        return navItems;
    }

    private void ToggleSidebar()
    {
        sidebar.ToggleSidebar();
    }

}