<div class="drawer-brand">
    <div class="brand-icon-wrap">
        <MudIcon Icon="@Icons.Material.Filled.DinnerDining" Style="color:#0B84FF;font-size:1.5rem;"/>
    </div>
    <div class="brand-text">
        <span class="brand-name">Food Journal</span>
        <span class="brand-sub">Nutrition Tracker</span>
    </div>
</div>

<div class="nav-divider"></div>

<MudNavMenu Class="nav-menu">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="/meals" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DinnerDining">Meals</MudNavLink>
    <MudNavLink Href="/foods" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Restaurant">Foods</MudNavLink>
</MudNavMenu>


