@page "/foods/create"
@inject IFoodService FoodService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Food</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Food" OnValidSubmit="AddFood" FormName="create" Enhance>
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Food.Name" class="form-control"/>
                <ValidationMessage For="() => Food.Name" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <InputSelect id="category" class="form-control" @bind-Value="Food.Category">
                    @foreach (FoodCategory cat in Enum.GetValues(typeof(FoodCategory)))
                    {
                        <option value="@cat">@cat</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Food.Category" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="calories" class="form-label">Calories:</label>
                <InputNumber id="calories" @bind-Value="Food.Calories" class="form-control"/>
                <ValidationMessage For="() => Food.Calories" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="protein" class="form-label">Protein:</label>
                <InputNumber id="protein" @bind-Value="Food.Protein" class="form-control"/>
                <ValidationMessage For="() => Food.Protein" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="fat" class="form-label">Fat:</label>
                <InputNumber id="fat" @bind-Value="Food.Fat" class="form-control"/>
                <ValidationMessage For="() => Food.Fat" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="carbs" class="form-label">Carbs:</label>
                <InputNumber id="carbs" @bind-Value="Food.Carbs" class="form-control"/>
                <ValidationMessage For="() => Food.Carbs" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="meals" class="form-label">Meals:</label>
                <InputSelect id="meals" @bind-Value="Food.Meals" class="form-control">
                    @foreach (var meal in Food.Meals)
                    {
                        <option value="@meal.Name">@meal.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Food.Meals" class="text-danger"/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <button class="btn btn-secondary" @onclick="Home">Go Back</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] private AddFoodRequest Food { get; set; } = default!;

    protected override void OnInitialized()
    {
        Food = new AddFoodRequest();
    }

    private async Task AddFood()
    {
        await FoodService.AddFood(Food);

        NavigationManager.NavigateTo("/foods");
    }

    private void Home()
    {
        NavigationManager.NavigateTo("/foods");
    }

}
