@page "/foods"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IFoodService FoodService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Food</h1>

<p>
    <a href="foods/create" class="btn btn-primary">Create New</a>
</p>

<QuickGrid Class="table" Items="FoodResponses" @ref="_foodItemGrid">
    <PropertyColumn Property="food => food.Name" Sortable="true"/>
    <PropertyColumn Property="food => food.Category" Sortable="true"/>
    <PropertyColumn Property="food => food.Calories" Sortable="true"/>
    <PropertyColumn Property="food => food.Protein" Sortable="true"/>
    <PropertyColumn Property="food => food.Fat" Sortable="true"/>
    <PropertyColumn Property="food => food.Carbs" Sortable="true"/>

    <TemplateColumn Context="food">
        <button class="btn btn-info" @onclick="() => Edit(food.FoodId)">Edit</button>
        <button class="btn btn-secondary" @onclick="() => Detail(food.FoodId)">Details</button>
        <button class="btn btn-danger" @onclick="() => Delete(food.FoodId)">Delete</button>
    </TemplateColumn>
</QuickGrid>

@code {
    private readonly string _categorySearch = string.Empty;
    private QuickGrid<FoodResponse> _foodItemGrid;
    private List<FoodResponse> _foods = [];

    private IQueryable<FoodResponse> FoodResponses
    {
        get
        {
            var result = _foods.AsQueryable();
            if (!string.IsNullOrEmpty(_categorySearch))
            {
                result = result.Where(f => f.Category.Contains(_categorySearch, StringComparison.OrdinalIgnoreCase));
            }

            return result;
        }
        set;
    }

    protected override async Task OnInitializedAsync()
    {
        _foods = await LoadFoodItems();
    }

    private async Task<List<FoodResponse>> LoadFoodItems()
    {
        return await FoodService.GetAllFood();
    }

    private void Edit(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/edit/{foodId}");
    }

    private void Detail(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/details/{foodId}");
    }

    private void Delete(object foodId)
    {
        NavigationManager.NavigateTo($"/foods/delete/{foodId}");
    }

}
